In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df_train=pd.read_csv('Train.csv')
df_test=pd.read_csv('Test.csv')
df_train

             ID  stock        Date  ...     Close  holiday  unpredictability_score
0          id_0      0  2017-01-03  ...   82.8101        1                       7
1          id_1      0  2017-01-04  ...   82.9690        0                       7
2          id_2      0  2017-01-05  ...   82.8578        0                       7
3          id_3      0  2017-01-06  ...   82.7385        0                       7
4          id_4      0  2017-01-09  ...   81.8641        0                       7
...         ...    ...         ...  ...       ...      ...                     ...
73434  id_77616    102  2019-10-25  ...  131.0068        0                       6
73435  id_77617    102  2019-10-28  ...  131.8185        0                       6
73436  id_77618    102  2019-10-29  ...  132.0440        0                       6
73437  id_77619    102  2019-10-30  ...  131.6381        0                       6
73438  id_77620    102  2019-10-31  ...  130.7362        0                       6

[73439 rows x 9 columns]

In [3]:
df_train.drop(columns=['ID','Open','High','Low'],inplace=True)
df_train

       stock        Date     Close  holiday  unpredictability_score
0          0  2017-01-03   82.8101        1                       7
1          0  2017-01-04   82.9690        0                       7
2          0  2017-01-05   82.8578        0                       7
3          0  2017-01-06   82.7385        0                       7
4          0  2017-01-09   81.8641        0                       7
...      ...         ...       ...      ...                     ...
73434    102  2019-10-25  131.0068        0                       6
73435    102  2019-10-28  131.8185        0                       6
73436    102  2019-10-29  132.0440        0                       6
73437    102  2019-10-30  131.6381        0                       6
73438    102  2019-10-31  130.7362        0                       6

[73439 rows x 5 columns]

In [4]:
df_test.drop(columns=['ID'],inplace=True)

In [5]:
df_train['Date']=pd.to_datetime(df_train['Date'])
df_test['Date']=pd.to_datetime(df_test['Date'])

In [6]:
Year=[]
Month=[]
Day=[]
for i in range(len(df_train)):
    Year.append(df_train['Date'][i].year)
    Month.append(df_train['Date'][i].month)
    Day.append(df_train['Date'][i].day)
df_train['Year']=Year
df_train['Month']=Month
df_train['Day']=Day

df_train

       stock       Date     Close  ...  Year  Month  Day
0          0 2017-01-03   82.8101  ...  2017      1    3
1          0 2017-01-04   82.9690  ...  2017      1    4
2          0 2017-01-05   82.8578  ...  2017      1    5
3          0 2017-01-06   82.7385  ...  2017      1    6
4          0 2017-01-09   81.8641  ...  2017      1    9
...      ...        ...       ...  ...   ...    ...  ...
73434    102 2019-10-25  131.0068  ...  2019     10   25
73435    102 2019-10-28  131.8185  ...  2019     10   28
73436    102 2019-10-29  132.0440  ...  2019     10   29
73437    102 2019-10-30  131.6381  ...  2019     10   30
73438    102 2019-10-31  130.7362  ...  2019     10   31

[73439 rows x 8 columns]

In [7]:
df_train.drop(columns='Date',inplace=True)

In [8]:
Year=[]
Month=[]
Day=[]
for i in range(len(df_test)):
    Year.append(df_test['Date'][i].year)
    Month.append(df_test['Date'][i].month)
    Day.append(df_test['Date'][i].day)
df_test['Year']=Year
df_test['Month']=Month
df_test['Day']=Day

df_test

      stock       Date  holiday  unpredictability_score  Year  Month  Day
0         0 2019-11-01        0                       7  2019     11    1
1         0 2019-11-04        0                       7  2019     11    4
2         0 2019-11-05        0                       7  2019     11    5
3         0 2019-11-06        0                       7  2019     11    6
4         0 2019-11-07        0                       7  2019     11    7
...     ...        ...      ...                     ...   ...    ...  ...
4218    102 2019-12-24        0                       6  2019     12   24
4219    102 2019-12-26        1                       6  2019     12   26
4220    102 2019-12-27        0                       6  2019     12   27
4221    102 2019-12-30        0                       6  2019     12   30
4222    102 2019-12-31        0                       6  2019     12   31

[4223 rows x 7 columns]

In [9]:
df_test.drop(columns='Date',inplace=True)

In [10]:
target=df_train['Close']
df_train.drop(columns='Close',inplace=True)
df_train

       stock  holiday  unpredictability_score  Year  Month  Day
0          0        1                       7  2017      1    3
1          0        0                       7  2017      1    4
2          0        0                       7  2017      1    5
3          0        0                       7  2017      1    6
4          0        0                       7  2017      1    9
...      ...      ...                     ...   ...    ...  ...
73434    102        0                       6  2019     10   25
73435    102        0                       6  2019     10   28
73436    102        0                       6  2019     10   29
73437    102        0                       6  2019     10   30
73438    102        0                       6  2019     10   31

[73439 rows x 6 columns]

In [11]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()

In [12]:
train_scaled=pd.DataFrame(sc.fit_transform(df_train))
train_scaled.columns=df_train.columns
train_scaled.index=df_train.index

In [13]:
X_test=pd.DataFrame(sc.fit_transform(df_test))
X_test.columns=df_test.columns
X_test.index=df_test.index

In [14]:
from sklearn.model_selection import train_test_split

In [15]:
X_train,X_valid,y_train,y_valid=train_test_split(train_scaled,target,test_size=0.2,random_state=24)

In [16]:
pip install tpot

Collecting tpot
  Downloading https://files.pythonhosted.org/packages/18/19/4e61af9cd13340167c7865bd55b29c2605058acb4c0aca438c45db75aa29/TPOT-0.11.6.post1-py3-none-any.whl (86kB)
     |████████████████████████████████| 92kB 2.5MB/s
Requirement already satisfied: scikit-learn>=0.22.0 in /usr/local/lib/python3.6/dist-packages (from tpot) (0.22.2.post1)
Collecting update-checker>=0.16
  Downloading https://files.pythonhosted.org/packages/0c/ba/8dd7fa5f0b1c6a8ac62f8f57f7e794160c1f86f31c6d0fb00f582372a3e4/update_checker-0.18.0-py3-none-any.whl
Requirement already satisfied: tqdm>=4.36.1 in /usr/local/lib/python3.6/dist-packages (from tpot) (4.41.1)
Requirement already satisfied: pandas>=0.24.2 in /usr/local/lib/python3.6/dist-packages (from tpot) (1.1.4)
Collecting stopit>=1.1.1
  Downloading https://files.pythonhosted.org/packages/35/58/e8bb0b0fb05baf07bbac1450c447d753da65f9701f551dca79823ce15d50/stopit-1.1.2.tar.gz
Requirement already satisfied: numpy>=1.16.3 in /usr/local/lib/python3.6/dist-packages (from tpot) (1.18.5)
Requirement already satisfied: joblib>=0.13.2 in /usr/local/lib/python3.6/dist-packages (from tpot) (0.17.0)
Collecting deap>=1.2
  Downloading https://files.pythonhosted.org/packages/0a/eb/2bd0a32e3ce757fb26264765abbaedd6d4d3640d90219a513aeabd08ee2b/deap-1.3.1-cp36-cp36m-manylinux2010_x86_64.whl (157kB)
     |████████████████████████████████| 163kB 8.8MB/s
Requirement already satisfied: scipy>=1.3.1 in /usr/local/lib/python3.6/dist-packages (from tpot) (1.4.1)
Requirement already satisfied: requests>=2.3.0 in /usr/local/lib/python3.6/dist-packages (from update-checker>=0.16->tpot) (2.23.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.24.2->tpot) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.24.2->tpot) (2018.9)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.3.0->update-checker>=0.16->tpot) (2020.6.20)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.3.0->update-checker>=0.16->tpot) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.3.0->update-checker>=0.16->tpot) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.3.0->update-checker>=0.16->tpot) (2.10)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.2->tpot) (1.15.0)
Building wheels for collected packages: stopit
  Building wheel for stopit (setup.py) ... done
  Created wheel for stopit: filename=stopit-1.1.2-cp36-none-any.whl size=11956 sha256=a265b62eb60b4f1a89466a81623def828480ad44d21bf60bc2f4b726830c4773
  Stored in directory: /root/.cache/pip/wheels/3c/85/2b/2580190404636bfc63e8de3dff629c03bb795021e1983a6cc7
Successfully built stopit
Installing collected packages: update-checker, stopit, deap, tpot
Successfully installed deap-1.3.1 stopit-1.1.2 tpot-0.11.6.post1 update-checker-0.18.0

In [17]:
from tpot import TPOTRegressor

In [18]:
tpot=TPOTRegressor(generations=5,population_size=50,verbosity=2,random_state=42)
tpot.fit(X_train,y_train)

HBox(children=(FloatProgress(value=0.0, description='Optimization Progress', max=300.0, style=ProgressStyle(de…

Generation 1 - Current best internal CV score: -3.188964407942682

Generation 2 - Current best internal CV score: -3.188964407942682

Generation 3 - Current best internal CV score: -3.188964407942682

Generation 4 - Current best internal CV score: -3.128734720188596

Generation 5 - Current best internal CV score: -2.1017783044989473

Best pipeline: ExtraTreesRegressor(MinMaxScaler(GradientBoostingRegressor(input_matrix, alpha=0.99, learning_rate=0.5, loss=huber, max_depth=3, max_features=0.9000000000000001, min_samples_leaf=20, min_samples_split=13, n_estimators=100, subsample=0.9500000000000001)), bootstrap=False, max_features=0.9500000000000001, min_samples_leaf=4, min_samples_split=12, n_estimators=100)

TPOTRegressor(config_dict=None, crossover_rate=0.1, cv=5,
              disable_update_check=False, early_stop=None, generations=5,
              log_file=None, max_eval_time_mins=5, max_time_mins=None,
              memory=None, mutation_rate=0.9, n_jobs=1, offspring_size=None,
              periodic_checkpoint_folder=None, population_size=50,
              random_state=42, scoring=None, subsample=1.0, template=None,
              use_dask=False, verbosity=2, warm_start=False)

In [19]:
predict=tpot.predict(X_valid)
predict

array([ 67.05524271,  47.99381017, 127.4695457 , ...,  91.81683257,
        45.03989891, 112.94037104])

In [20]:
from sklearn.metrics import mean_squared_error

In [21]:
from math import sqrt

In [22]:
sqrt(mean_squared_error(predict,y_valid))

1.3285834919094746

In [23]:
submissions=pd.read_csv("SampleSubmission.csv")

In [24]:
submissions

            ID  Close
0       id_713     85
1       id_714     85
2       id_715     85
3       id_716     85
4       id_717     85
...        ...    ...
4218  id_77657     85
4219  id_77658     85
4220  id_77659     85
4221  id_77660     85
4222  id_77661     85

[4223 rows x 2 columns]

In [25]:
submissions["Close"]=tpot.predict(X_test)

In [26]:
submissions.to_csv("tpot.csv",index=False)