In [2]:
import numpy as np
import pandas as pd
import sklearn
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split

# Importing Train dataset

In [3]:
df=pd.read_csv('train.csv')
df

,ID,Estimated_Insects_Count,Crop_Type,Soil_Type,Pesticide_Use_Category,Number_Doses_Week,Number_Weeks_Used,Number_Weeks_Quit,Season,Crop_Damage
0,F00000001,188,1,0,1,0,0.0,0,1,0
1,F00000003,209,1,0,1,0,0.0,0,2,1
2,F00000004,257,1,0,1,0,0.0,0,2,1
3,F00000005,257,1,1,1,0,0.0,0,2,1
4,F00000006,342,1,0,1,0,0.0,0,2,1
...,...,...,...,...,...,...,...,...,...,...
88853,F00155935,3337,1,0,2,10,12.0,44,3,0
88854,F00155938,3516,1,0,2,10,20.0,38,1,0
88855,F00155939,3516,1,0,2,15,40.0,8,2,0
88856,F00155942,3702,1,0,2,10,25.0,18,3,0
88857,F00155945,3895,1,0,2,20,37.0,7,3,0

In [4]:
df.isna().sum()

ID                            0
Estimated_Insects_Count       0
Crop_Type                     0
Soil_Type                     0
Pesticide_Use_Category        0
Number_Doses_Week             0
Number_Weeks_Used          9000
Number_Weeks_Quit             0
Season                        0
Crop_Damage                   0
dtype: int64

# Dealing with missing values

In [6]:
df1=df.fillna(df['Number_Weeks_Used'].median())
df1

,ID,Estimated_Insects_Count,Crop_Type,Soil_Type,Pesticide_Use_Category,Number_Doses_Week,Number_Weeks_Used,Number_Weeks_Quit,Season,Crop_Damage
0,F00000001,188,1,0,1,0,0.0,0,1,0
1,F00000003,209,1,0,1,0,0.0,0,2,1
2,F00000004,257,1,0,1,0,0.0,0,2,1
3,F00000005,257,1,1,1,0,0.0,0,2,1
4,F00000006,342,1,0,1,0,0.0,0,2,1
...,...,...,...,...,...,...,...,...,...,...
88853,F00155935,3337,1,0,2,10,12.0,44,3,0
88854,F00155938,3516,1,0,2,10,20.0,38,1,0
88855,F00155939,3516,1,0,2,15,40.0,8,2,0
88856,F00155942,3702,1,0,2,10,25.0,18,3,0
88857,F00155945,3895,1,0,2,20,37.0,7,3,0

In [7]:
df1.isna().any()

ID                         False
Estimated_Insects_Count    False
Crop_Type                  False
Soil_Type                  False
Pesticide_Use_Category     False
Number_Doses_Week          False
Number_Weeks_Used          False
Number_Weeks_Quit          False
Season                     False
Crop_Damage                False
dtype: bool

In [8]:
X=df1.drop(columns=['ID','Crop_Damage'])
X

,Estimated_Insects_Count,Crop_Type,Soil_Type,Pesticide_Use_Category,Number_Doses_Week,Number_Weeks_Used,Number_Weeks_Quit,Season
0,188,1,0,1,0,0.0,0,1
1,209,1,0,1,0,0.0,0,2
2,257,1,0,1,0,0.0,0,2
3,257,1,1,1,0,0.0,0,2
4,342,1,0,1,0,0.0,0,2
...,...,...,...,...,...,...,...,...
88853,3337,1,0,2,10,12.0,44,3
88854,3516,1,0,2,10,20.0,38,1
88855,3516,1,0,2,15,40.0,8,2
88856,3702,1,0,2,10,25.0,18,3
88857,3895,1,0,2,20,37.0,7,3

In [9]:
y=df1['Crop_Damage']
y

0        0
1        1
2        1
3        1
4        1
        ..
88853    0
88854    0
88855    0
88856    0
88857    0
Name: Crop_Damage, Length: 88858, dtype: int64

In [12]:
X.describe()

,Estimated_Insects_Count,Crop_Type,Soil_Type,Pesticide_Use_Category,Number_Doses_Week,Number_Weeks_Used,Number_Weeks_Quit,Season
count,88858.000000,88858.000000,88858.000000,88858.000000,88858.000000,88858.000000,88858.000000,88858.000000
mean,1399.012210,0.284375,0.458417,2.264186,25.849952,28.560771,9.589986,1.896959
std,849.048781,0.451119,0.498271,0.461772,15.554428,11.749075,9.900631,0.701322
min,150.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000
25%,731.000000,0.000000,0.000000,2.000000,15.000000,20.000000,0.000000,1.000000
50%,1212.000000,0.000000,0.000000,2.000000,20.000000,28.000000,7.000000,2.000000
75%,1898.000000,1.000000,1.000000,3.000000,40.000000,36.000000,16.000000,2.000000
max,4097.000000,1.000000,1.000000,3.000000,95.000000,67.000000,50.000000,3.000000

# Scaling X

In [13]:
s=MinMaxScaler()

In [14]:
new_X=pd.DataFrame(s.fit_transform(X))

In [15]:
new_X.columns=X.columns
new_X

,Estimated_Insects_Count,Crop_Type,Soil_Type,Pesticide_Use_Category,Number_Doses_Week,Number_Weeks_Used,Number_Weeks_Quit,Season
0,0.009628,1.0,0.0,0.0,0.000000,0.000000,0.00,0.0
1,0.014948,1.0,0.0,0.0,0.000000,0.000000,0.00,0.5
2,0.027109,1.0,0.0,0.0,0.000000,0.000000,0.00,0.5
3,0.027109,1.0,1.0,0.0,0.000000,0.000000,0.00,0.5
4,0.048645,1.0,0.0,0.0,0.000000,0.000000,0.00,0.5
...,...,...,...,...,...,...,...,...
88853,0.807449,1.0,0.0,0.5,0.105263,0.179104,0.88,1.0
88854,0.852800,1.0,0.0,0.5,0.105263,0.298507,0.76,0.0
88855,0.852800,1.0,0.0,0.5,0.157895,0.597015,0.16,0.5
88856,0.899924,1.0,0.0,0.5,0.105263,0.373134,0.36,1.0
88857,0.948822,1.0,0.0,0.5,0.210526,0.552239,0.14,1.0

In [16]:
new_X.describe()

,Estimated_Insects_Count,Crop_Type,Soil_Type,Pesticide_Use_Category,Number_Doses_Week,Number_Weeks_Used,Number_Weeks_Quit,Season
count,88858.000000,88858.000000,88858.000000,88858.000000,88858.000000,88858.000000,88858.000000,88858.000000
mean,0.316446,0.284375,0.458417,0.632093,0.272105,0.426280,0.191800,0.448480
std,0.215112,0.451119,0.498271,0.230886,0.163731,0.175359,0.198013,0.350661
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.147200,0.000000,0.000000,0.500000,0.157895,0.298507,0.000000,0.000000
50%,0.269065,0.000000,0.000000,0.500000,0.210526,0.417910,0.140000,0.500000
75%,0.442868,1.000000,1.000000,1.000000,0.421053,0.537313,0.320000,0.500000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [17]:
y.describe()

count    88858.000000
mean         0.190562
std          0.454215
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          2.000000
Name: Crop_Damage, dtype: float64

In [18]:
X_train,X_test,y_train,y_test=train_test_split(new_X,y,test_size=0.2)

# Naive Bayes

In [19]:
from sklearn.naive_bayes import GaussianNB

In [20]:
model=GaussianNB()

In [21]:
model.fit(X_train,y_train)

GaussianNB(priors=None, var_smoothing=1e-09)