In [16]:
import numpy as np
import pandas as pd

In [25]:
df=pd.read_csv('final.csv')
df

     Item_Identifier Outlet_Identifier  Item_Outlet_Sales
0              FDW58            OUT049        1789.475444
1              FDW14            OUT017        1487.087208
2              NCN55            OUT010        1911.429425
3              FDQ58            OUT017        2537.350298
4              FDY38            OUT027        5137.834176
...              ...               ...                ...
5676           FDB58            OUT046        2372.123925
5677           FDD47            OUT018        2455.887223
5678           NCO17            OUT045        1935.849012
5679           FDJ26            OUT017        3542.367760
5680           FDU37            OUT045        1397.864392

[5681 rows x 3 columns]

In [26]:
df.describe()

       Item_Outlet_Sales
count        5681.000000
mean         2181.443865
std          1275.183092
min         -1428.446316
25%          1342.192089
50%          2140.889696
75%          3056.152156
max          5660.487238

In [27]:
for i in range(len(df)):
    if df['Item_Outlet_Sales'][i]<0:
        df['Item_Outlet_Sales'][i]=0
    else:
        df['Item_Outlet_Sales'][i]
df['Item_Outlet_Sales'].describe()

C:\Users\sanka\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

count    5681.000000
mean     2211.421368
std      1211.646605
min         0.000000
25%      1342.192089
50%      2140.889696
75%      3056.152156
max      5660.487238
Name: Item_Outlet_Sales, dtype: float64

In [28]:
final1=df
final1.to_csv('final1.csv',index=False)

In [19]:
abs(-43)

43